<div class="col-md-6 col-sm-6">
	<h1>Editar Beacon</h1>

	<%= render 'form' %>

	<%= link_to 'Ver', @beacon ,class:'btn btn-default'%> |
	<%= link_to 'Atrás', beacons_path,class:'btn btn-warning' %>
</div>