<%= form_for(@minor_region) do |f| %>
  <% if @minor_region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@minor_region.errors.count, "error") %> prohibited this minor_region from being saved:</h2>

      <ul>
      <% @minor_region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
