<div class="col-md-8 col-sm-8">
	<h1>Editing Minor Region</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @minor_region , class:'btn btn-default'%> |
	<%= link_to 'Back', minor_regions_path ,class:'btn btn-warning'%>
</div>