<div class="col-md-8 col-sm-8">
	<h2>Reports</h2>
	<p>Reports are useful to bla bla bla..</p>
	<div class="col-md-6 col-sm-6">
		<h4>Generate Devices report</h4>
		<%= link_to 'Report Devices .xlsx', devices_path(format: :xlsx), class:'btn btn-primary' %>
	</div>
	<div class="col-md-6 col-sm-6">
		<h4>Generate Discovers report</h4>
		<%= link_to 'Report Discovers .xlsx', discovers_path(format: :xlsx),class:'btn btn-primary' %>
	</div>
</div>
